body {
    margin: 0;

    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;

    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

.header {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    width: 1200px;

    background-color: #ffffff;
}

.index-picture {
    padding-top: 76px;
    text-align: center;
}

.nav,
.social-buttons,
.catalog-list {
    list-style: none;
}

.nav a {
    color: #000000;
}

.nav a:hover {
    color: #81b3d2;
}

.nav a:active {
    color: rgba(0, 0, 0, 0.3);
}

.current a {
    color: #766357;
}

.description {
    width: 489px;
    line-height: 26px;
    margin: 0;
    margin-left: 355px;
    font-weight: normal;
    text-align: center;
    color: #333333;
}

.description h2 {
    font-size: 21px;
    line-height: 26px;
    margin: 0;
    margin-top: 60px;
}

.description p {
    margin: 0;
    margin-top: 38px;
    margin-bottom: 56px;
}

.search h2 {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 55px;
}

.search p {
    font-weight: normal;
    text-align: center;
    color: #333333;
    margin: 0;
    padding: 0;
    padding-top: 30px;
}

.search a {
    width: 568px;
    font-size: 21px;
    line-height: 26px;
    background-color: #766357;
    color: #ffffff;

    margin: 0;
    padding: 0;
    padding-top: 35px;
    padding-bottom: 33px;
    margin-top: 52px;
}

.hotel-search {
    background-color: #ffffff;
    position: absolute;
    width: 568px;
    left: 50%;
    top: 79%;
    transform: translateX(-50%);
}

.find-hotel a{
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    color: #ffffff;

    background-color: #766357;
}

.search a:hover,
.button-reservation:hover {
    background-color: #604e43;
}

.search a:active,
.button-reservation:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #503e33;
}

.container-input input {
    font: inherit;

    background-color: #f2f2f2;
    border: none;
    width: 300px;
    height: 38px;
    padding-left: 13px;
}

.block-search-item input:hover {
    background-color: #ebebeb;
}

.block-search-item input:focus {
    background-color: #ffffff;
    border: 1px solid #ebebeb;
}

.button {
    font: inherit;

    background-color: #f2f2f2;
    border: none;
    height: 40px;
}

.button svg {
    padding-top: 5px;
}

.block-search-third-line {
    display: flex;
    width: 568px;
    padding-top: 30px;
    justify-content: center;
}

.adults-label {
    padding-top: 8px;
    margin-right: 41px;
}

.child-label {
    padding-top: 8px;
    margin-left: 57px;
    margin-right: 27px;
}

.small-container-input input {
    font: inherit;
    width: 23px;
    height: 38px;
    background-color: #f2f2f2;
    border: none;
    padding-left: 16px;
}

.button-find {
    font: inherit;
    width: 458px;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
    padding-top: 18px;
    padding-bottom: 22px;
    margin-top: 54px;
    margin-bottom: 55px;
    text-transform: uppercase;

    background-color: #81b3d2;
    border: none;
}

.button-find:hover,
.button-more:hover {
    background-color: #669ec0;
}

.button-find:active,
.button-more:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #5496bd;
}

.social-button-twitter,
.social-button-facebook,
.social-button-youtube {
    background-color: #81b3d2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-button-twitter:hover,
.social-button-facebook:hover,
.social-button-youtube:hover {
    background-color: #669ec0;
}

.social-button-twitter:active,
.social-button-facebook:active,
.social-button-youtube:active {
    background-color: #5496bd;
}

.button-more {
    line-height: 21px;
    color: #ffffff;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 4px;
    padding-bottom: 3px;
    background-color: #81b3d2;
}

.button-reservation {
    line-height: 21px;
    text-align: left;
    color: #ffffff;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 4px;
    padding-bottom: 3px;
    background-color: #766357;
}

.calendar {
    fill: #cacaca;
}

.calendar:hover {
    fill: #000000;
}

.calendar:active {
    fill: #81b3d2;
}

.catalog-list {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    background: #ffffff;
}




/*стили сетки*/

.wrapper {
    position: relative;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    box-shadow: 0 -2px 15px 2px #dbdbdb;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    margin: 0;
    padding: 0;
}

.information {
    width: 25%;
    text-align: left;
    padding-left: 45px;
}

.photo {
    width: 25%;
    text-align: left;
}

.map-state {
    width: 25%;
    text-align: right;
}

.hotels {
    width: 25%;
    text-align: right;
    padding-right: 45px;
}

.promo-block {
    position: relative;
    width: 1200px;
    height: 509px;
    background: url(../img/index-background.jpg);
}

.promo-block:before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: -1px;
    background: url(../img/polygon-no.png);
    background-size: cover;
    width: 1202px;
    height: 59px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.block-search {
    display: flex;
    width: 568px;
    padding-top: 55px;
    justify-content: center;
}

.second-line {
    padding-top: 29px;
}

.block-search label {
    padding-top: 8px;
    padding-right: 21px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(255,255,255,0.9);
    padding-top: 36px;
    padding-bottom: 36px;

    box-sizing: border-box;
}

.footer-inner {
    position: static;
    bottom: auto;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-visitsedona {
    margin: 0;
    margin-left: 132px;
    font-size: 21px;
    line-height: 26px;
}

.social-buttons {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-left: 256px;
    width: 150px;
}

.social-buttons li {
    width: 48px;
    height: 48px;
}

.footer-website {
    margin: 0;
    width: 78px;
    margin-left: auto;
    margin-right: 4px;
    font-weight: 400;
}

.footer-htmllogo {
    margin: 0;
    margin-right: 101px;
    width: 115px;
}   

.catalog-item {
    border-top: 1px solid rgb(214, 214, 214);
    display: flex;
}

.border-bottom {
    border-bottom: 1px solid rgb(182, 182, 182);
}

.right-info {
    margin-left: auto;
    width: 110px;
    padding-top: 29px;
    padding-right: 71px;
}

.indexlogo {
    position: absolute;
    left: 50%;
    top: 0;
    margin-right: auto;
    margin-left: -69px;
    z-index: 1;
}

.reasons {
    width: 1200px;
}

.reason-row-up,
.reason-row-down {
    width: 1200px;

    display: flex;
    align-items: center;
}

.items-reason-row {
    width: 400px;
    text-align: center;
    color: #ffffff;
    background-color: #81b3d2;
    padding-top: 43px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 57px; 
}

.items-reason-row h3 {
    font-size: 21px;
    line-height: 21px;
    width: 166px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.items-reason-row span,
.items-reason-row p {
    font-weight: 400;
    line-height: 21px;
}

.true-town,
.devil-bridge {
    width: 800px;
    height: 256px;
}

.reason-picture,
.reason-numbers {
    width: 1200px;
    text-align: center;
    color: #000000;
    background-color: #ffffff;

    display: flex;
    justify-content: flex-start;
}

.reason-numbers {
    background-color: #eeeeee;
}

.life,
.food,
.presents {
    width: 400px;
}

.life img,
.food img,
.presents img {
    padding-top: 60px;
}

.life h3,
.food h3,
.presents h3 {
    font-size: 21px;
    line-height: 21px;
}

.life p,
.food p,
.presents p {
    line-height: 21px;
    font-weight: 400;
}

.life p {
    width: 252px;
    padding-left: 73px;
    padding-bottom: 80px;
}

.food p {
    width: 284px;
    padding-left: 58px;
    padding-bottom: 80px;
}

.presents p {
    width: 273px;
    padding-left: 64px;
    padding-bottom: 80px;
}

.small-area,
.nice-road,
.few-tourists {
    width: 400px;
    text-align: center;
}

.small-area h3,
.nice-road h3,
.few-tourists h3 {
    font-size: 21px;
    line-height: 21px;
    padding-top: 30px;
}

.small-area span,
.nice-road span,
.few-tourists span,
.small-area p,
.nice-road p,
.few-tourists p {
    font-weight: 400;
    line-height: 21px;
}

.small-area h3 {
    width: 163px;
    padding-left: 117px;
}

.nice-road h3 {
    width: 163px;
    padding-left: 116px;
}

.few-tourists h3 {
    width: 146px;
    padding-left: 126px;
}

.small-area p {
    width: 208px;
    padding-left: 95px;
    padding-bottom: 60px;
}

.nice-road p {
    width: 262px;
    padding-left: 69px;
    padding-bottom: 60px;
}

.few-tourists p {
    width: 246px;
    padding-left: 77px;
    padding-bottom: 60px;
}

.catalog-photo {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 72px;
}

.name-price {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
    display: flex;
}

.type-hotel {
    width: 114px;
}

.background-picture {
    width: 1200px;
    height: 217px;
    background-image: url(../img/filter-hotels.jpg);

    margin-top: 0;
}

.filter {

    display: flex;
}

.filter fieldset {
    border: none;
    color: #ffffff;
    
    padding: 0;
    margin: 0;
    margin-top: 31px;
    margin-bottom: 22px;
}

.infrastructure legend {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 26px;
    margin-left: 112px;
}

.infrastructure ul {
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-left: 115px;
    list-style: none;
}

.type-house legend {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 26px;
    margin-left: 69px;
}

.type-house ul {
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-left: 72px;
    list-style: none;
}

.filter-option {
    margin-bottom: 23px;
    padding-left: 40px;
}

.filter-option label {
    position: relative;
  
    display: block;
  
    cursor: pointer;
    user-select: none;
  }
  
  .filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: -42px;
    top: 0;
  
    width: 23px;
    height: 23px;
  
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-checkbox:checked + label::before {
    content: "";
  
    position: absolute;
    top: 0px;
    left: -42px;
  
    width: 23px;
    height: 23px;
    
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-range {
    width: 330px;
    color: #ffffff;
    text-transform: uppercase;

    padding-left: 348px;
    padding-top: 31px;
}
  
.filter-range-title {
    margin-bottom: 9px;
  
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}
  
.price-controls {
    position: relative;
    
    height: 36px;
    margin-bottom: 20px;
  
    font-size: 0;
  
    border: 2px solid #ffffff;
    border-radius: 2px;
}
  
.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
  
    width: 2px;
    height: 22px;
  
    background: #ffffff;
    transform: translate(-50%, -50%);
}
  
.price-controls label {
    display: inline-block;
  
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
  
    cursor: pointer;
}
  
.price-controls .min-price,
.price-controls .max-price {
    width: 90px;
    padding-left: 65px;
}
  
.price-controls input {
    width: 50px;
    margin: 0;
  
    color: inherit;
    font: inherit;
  
    background: none;
    border: none;
}
  
.range-controls {
    position: relative;
  
    margin-bottom: 32px;
}
  
.range-controls .scale {
    height: 2px;
  
    background: rgba(255, 255, 255, 0.3);
}
  
.range-controls .bar {
    width: 80%;
    height: 2px;
  
    background: #ffffff;
}
  
.range-toggle {
    position: absolute;
    top: -9px;
  
    width: 4px;
    height: 4px;
  
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}
  
.range-toggle:hover {
    background: #1c4f80;
}
  
.range-toggle-min {
    left: 0;
}
  
.range-toggle-max {
    left: 80%;
}
  
.btn-transparent {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;
  
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
  
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}
  
.btn-transparent:hover {
    color: #000000;
  
    background: #ffffff;
}

.sorting {
    width: 1200px;
    background-color: #ffffff;

    display: flex;
}

.sorting-left {
    font-size: 21px;
    line-height: 26px;

    margin-left: 72px;
    margin-top: 31px;
    padding-bottom: 14px;
}

.sorting-center {
    width: 353px;
    font-size: 12px;
    line-height: 18px;
    list-style: none;
    font-weight: 400;
    margin: 0;
    padding: 0;

    display: flex;
    margin-top: 41px;
    margin-left: 49px;
    justify-content: space-between;
}

.sorting-center a {
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted #81b3d2;
}

.sorting-center a:hover {
    color: #81b3d2;
    border-bottom: 1px dotted #81b3d2;
}

.sorting-center a:active {
    color: #000000;
    border-bottom: none;
}

.sorting-center-active a {
    color: #81b3d2;
    border: none;
}

.sorting-right {
    width: 34px;
    margin-left: 504px;
    margin-top: 40px;

    display: flex;
    justify-content: space-between;
}

.arrow {
    fill: #cacaca;
}

.arrow:hover {
    fill: #000000;
}

.arrow:active {
    fill: #81b3d2;
}

.arrow-active {
    fill: #81b3d2;
}

.map {
    width: 1200px;
    height: 594px;
    background-image: url(../img/map.jpg); 
}

.button-symbol {
    width: 37px;
    height: 40px;
    background-color: #f2f2f2;
    border: none;
}

.rating {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #666666;
    background-color: #f2f2f2;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 4px;
}

.group-star {
    text-align: right;
}

.star {
    padding-left: 3px;
}

.name-hotel {
    font-size: 21px;
    line-height: 26px;
    margin: 0;
    padding: 0;
    margin-top: 25px;
    color: #000000;
}

.name-hotel a {
    color: #000000;
}

.name-hotel a:hover {
    color: #81b3d2;
}

.name-hotel a:active {
    color: rgba(0, 0, 0, 0.3);
}

.minus {
    position: relative;

}

.minus::before {
    position: absolute;
    content: "";
    top: 17px;
    left: 15px;

    width: 11px;
    height: 3px;

    background-color: #a9a9a9;
}

.minus:hover::before {
    background-color: #000000;
}

.minus:active::before {
    background-color: #81b3d2;
}

.plus {
	position: relative;
}

.plus::before {
	position: absolute;
	content: "";
	top: 17px;
	left: 14px;

	width: 11px;
	height: 3px;

	background-color: #a9a9a9;
}

.plus::after {
	position: absolute;
	content: "";
	top: 17px;
	left: 14px;

	width: 11px;
	height: 3px;

	background-color: #a9a9a9;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.plus:hover::before {
	background-color: #000000;
}

.plus:active::before {
	background-color: #81b3d2;
}

.plus:hover::after {
	background-color: #000000;
}

.plus:active::after {
	background-color: #81b3d2;
}