body {
  margin: 0;

  font-family: "PT Sans", Arial,  sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.header {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  width: 1200px;

  background-color: #ffffff;
}

.index-picture {
  padding-top: 76px;
  text-align: center;
}

.nav,
.social-buttons,
.catalog-list {
  list-style: none;
}

.nav a {
  color: #000000;
}

.nav a:hover {
  color: #81b3d2;
}

.nav a:active {
  color: rgba(0, 0, 0, 0.3);
}

.current a {
  color: #050505;
}

.description {
  width: 489px;
  line-height: 26px;
  margin: 0;
  margin-left: 355px;
  font-weight: normal;
  text-align: center;
  color: #333333;
}

.description h2 {
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  margin-top: 60px;
}

.description p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 26px;
  margin-top: 25px;
}

.search h2 {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 50px;
}

.search p {
  font-weight: normal;
  text-align: center;
  color: #333333;
  margin: 0;
  padding: 0;
  padding-top: 25px;
}

.search a {
  width: 568px;
  font-size: 21px;
  line-height: 26px;
  background-color: #766357;
  color: #ffffff;

  margin: 0;
  padding: 0;
  margin-top: 46px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.hotel-search {
  background-color: #ffffff;
  position: absolute;
  width: 568px;
  left: 50%;
  top: 2170px;
  transform: translateX(-50%);
}

.find-hotel a{
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;

  background-color: #766357;
}

.search a:hover,
.button-reservation:hover {
  background-color: #604e43;
}

.search a:active,
.button-reservation:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.container-input input {
  font: inherit;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
  width: 298px;
  height: 36px;
}

.input-first input {
  margin-left: 23px;
  padding-left: 13px;
}

.input-second input {
  margin-left: 20px;
  padding-left: 11px;
}

.block-search-item input:hover {
  background-color: #ebebeb;
}

.block-search-item input:focus {
  background-color: #ffffff;
  border: 1px solid #ebebeb;
}

.first-line {
  margin-top: 55px;
  margin-left: 56px;
}

.first-line label {
  margin-top: 8px;
}

.second-line {
  margin-top: 29px;
  margin-left: 57px;
}

.second-line label {
  margin-top: 8px;
}

.button {
  font: inherit;
  background-color: #f2f2f2;
  border: none;
  width: 36px;
  height: 38px;
}

.block-search-third-line {
  display: flex;
  width: 568px;
  margin-top: 30px;
}

button svg {
  margin-top: 6px;
}

.adults-label {
  margin-left: 55px;
  margin-top: 8px;
}

.child-label {
  margin-left: 53px;
  margin-top: 7px;
}

.small-container-input input {
  font: inherit;
  width: 25px;
  height: 36px;
  background-color: #f2f2f2;
  border: none;
  padding-left: 16px;
}

.button-find {
  font: inherit;
  width: 458px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 54px;
  margin-bottom: 55px;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.button-find:hover,
.button-more:hover {
  background-color: #669ec0;
}

.button-find:active,
.button-more:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.social-button-twitter,
.social-button-facebook,
.social-button-youtube {
  background-color: #81b3d2;
  width: 46px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-button-facebook {
  margin-left: 1px;
}

.social-button-youtube {
  margin-left: 2px;
}

.social-button-twitter:hover,
.social-button-facebook:hover,
.social-button-youtube:hover {
  background-color: #669ec0;
}

.social-button-twitter:active,
.social-button-facebook:active,
.social-button-youtube:active {
  background-color: #5496bd;
}

.catalog-buttons {
  margin: 0;
  padding: 0;
  margin-top: 7px;
}

.button-more {
  line-height: 21px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  padding-top: 4px;
  padding-bottom: 4px; 
  padding-left: 17px;
  padding-right: 17px;
  background-color: #81b3d2;
}

.button-reservation {
  line-height: 21px;
  text-align: left;
  color: #ffffff;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: 2px;
  background-color: #766357;
}

.calendar {
  fill: #cacaca;
}

.calendar:hover {
  fill: #000000;
}

.calendar:active {
  fill: #81b3d2;
}

.catalog-list {
  padding: 0;
  margin: 0;
  background: #ffffff;
}

.wrapper {
  position: relative;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  box-shadow: 0 -2px 15px 2px #dbdbdb;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  margin: 0;
  padding: 0;
}

.information {
  width: 300px;
  text-align: left;
  padding-left: 73px;
}

.photo {
  width: 300px;
  text-align: left;
  padding-right: 90px;
}

.map-state {
  width: 300px;
  text-align: right;
}

.hotels {
  width: 300px;
  text-align: right;
  padding-right: 70px;
}

.promo-block {
  position: relative;
  width: 1200px;
  height: 509px;
  background: url(../img/index-background.jpg);
}

.promo-block:before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: -1px;
  background: url(../img/polygon-no.png);
  background-size: cover;
  width: 1202px;
  height: 59px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.block-search {
  display: flex;
  width: 568px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(255,255,255,0.9);
  padding-top: 36px;
  padding-bottom: 34px;

  box-sizing: border-box;
}

.footer-inner {
  position: static;
  bottom: auto;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-visitsedona {
  margin: 0;
  margin-left: 133px;
  margin-top: 10px;
  font-size: 21px;
  line-height: 26px;
}

.social-buttons {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-left: 257px;
  width: 150px;
}

.social-buttons li {
  width: 48px;
  height: 48px;
}

.footer-copyright {
  width: 220px;
  margin-left: auto;
  margin-right: 77px;
  margin-top: 2px;
  display: flex;
}

.footer-website {
  margin: 0;
  width: 78px;
  margin-top: 8px;
  margin-right: 4px;
  font-weight: 400;
}

.footer-htmllogo {
  width: 115px;
}   

.catalog-item {
  border-top: 1px solid rgb(230, 230, 230);
  display: flex;
  padding: 0;
  margin: 0;
  padding-bottom: 15px;
}

.border-bottom {
  border-bottom: 1px solid rgb(230, 230, 230);
}

.right-info {
  margin-left: auto;
  width: 110px;
  padding-top: 29px;
  padding-right: 71px;
}

.index-logo {
  position: absolute;
  left: 50%;
  top: 0;
  margin-right: auto;
  margin-left: -69px;
  z-index: 1;
}

.reasons {
  width: 1200px;
  margin-top: 52px;
}

.reason-row-up,
.reason-row-down {
  width: 1200px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.reason-row-down {
  margin-top: 82px;
}

.items-reason-row-up,
.items-reason-row-down {
  width: 400px;
  min-height: 256px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
  /*padding-top: 43px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 55px; */
}

.items-reason-row-up h3,
.items-reason-row-down h3 {
  font-size: 21px;
  width: 166px;
  margin: 0 auto;
  margin-top: 46px;
  margin-bottom: 25px;

}

.items-reason-row-up span,
.items-reason-row-up p,
.items-reason-row-down span,
.items-reason-row-down p {
  font-weight: 400;
}

.items-reason-row-up p {
  width: 300px;
  padding: 0;
  margin: 0;
  margin-left: 50px;
  margin-top: 21px;
}

.items-reason-row-down p {
  width: 310px;
  padding: 0;
  margin: 0;
  margin-left: 45px;
  margin-top: 21px;
}

.true-town,
.devil-bridge {
  width: 800px;
  height: 256px;
}

.reason-picture,
.reason-numbers {
  width: 1200px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;

  display: flex;
  justify-content: flex-start;
}

.reason-numbers {
  background-color: #eeeeee;
  padding-bottom: 59px;
}

.life,
.food,
.presents {
  width: 400px;
}

.life img,
.food img {
  padding-top: 61px;
}

.presents img {
  padding-top: 57px;
}

.life h3,
.food h3,
.presents h3 {
  font-size: 21px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  margin-top: 23px;
}

.presents h3 {
  margin-top: 22px;
  margin-left: 3px;
}

.life p,
.food p,
.presents p {
  line-height: 21px;
  font-weight: 400;
}

.life p {
  width: 252px;
  margin: 0;
  padding: 0;
  margin-top: 23px;
  padding-left: 75px;
}

.food p {
  width: 288px;
  padding: 0;
  margin: 0;
  margin-top: 23px;
  padding-left: 57px;
}

.presents p {
  width: 273px;
  padding: 0;
  margin: 0;
  margin-top: 23px;
  padding-left: 64px;
}

.small-area,
.nice-road,
.few-tourists {
  width: 400px;
  text-align: center;
}

.small-area h3,
.nice-road h3,
.few-tourists h3 {
  font-size: 21px;
  line-height: 21px;
  padding-top: 26px;
}

.small-area span,
.nice-road span,
.few-tourists span,
.small-area p,
.nice-road p,
.few-tourists p {
  font-weight: 400;
  line-height: 21px;
}

.small-area h3 {
  width: 163px;
  padding-left: 118px;
}

.nice-road h3 {
  width: 163px;
  padding-left: 118px;
}

.few-tourists h3 {
  width: 146px;
  padding-left: 128px;
}

.small-area p {
  width: 208px;
  padding: 0;
  margin: 0;
  padding-left: 95px;
  padding-top: 21px;
}

.nice-road p {
  width: 262px;
  padding: 0;
  margin: 0;
  padding-top: 21px;
  padding-left: 68px;
}

.few-tourists p {
  width: 250px;
  padding: 0;
  margin: 0;
  padding-top: 21px;
  padding-left: 75px;
}

.catalog-photo {
  padding: 0;
  margin: 0;
  margin-top: 30px;
  margin-left: 73px; 
}

.name-price {
  font-size: 14px;
  line-height: 10px;
  font-weight: 400;
  color: #333333;
  margin: 0;
  padding: 0;
  display: flex;
}

.type-hotel {
  width: 116px;
}

.background-picture {
  width: 1200px;
  height: 217px;
  background-image: url(../img/filter-hotels.jpg);

  margin-top: 0;
}

.filter {
  display: flex;
}

.filter fieldset {
  border: none;
  color: #ffffff;
  margin: 0;
  padding: 0;
  margin-top: 28px;
}

.infrastructure legend {
  color: #ffffff;
  font-size: 16px;
  margin: 0;
  padding: 0;
  line-height: 21px;
  margin-left: 72px;
  margin-bottom: 9px;
}

.infrastructure ul {
  font-weight: 400;
  list-style: none;
  margin-left: 72px;
}

.type-house legend {
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 23px;
  margin-left: 117px;
}

.type-house ul {
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-left: 160px;
  list-style: none;
}

.filter-option {
  margin-bottom: 22px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}
  
.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -38px;
  top: 0;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::before {
  content: "";

  position: absolute;
  top: 0px;
  left: -38px;

  width: 27px;
  height: 23px;
  
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-range {
  width: 319px;
  color: #ffffff;
  text-transform: uppercase;

  padding-left: 348px;
  padding-top: 28px;
}
  
.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}
  
.price-controls {
  position: relative;
  
  height: 32px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}
  
.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}
  
.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  /*vertical-align: top;*/

  cursor: pointer;
}
  
.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  font-weight: 400;
  line-height: 30px;
}

.price-controls .min-price {
  margin-left: 65px;
}

.price-controls .max-price {
  margin-left: 55px;
}
  
.price-controls input {
  width: 50px;
  height: 26px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}
  
.range-controls {
  position: relative;

  margin-bottom: 34px;
}
  
.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}
  
.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}
  
.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
  
.range-toggle:hover {
  background: #1c4f80;
}
  
.range-toggle-min {
  left: 0;
}
  
.range-toggle-max {
  left: 79%;
}
  
.btn-transparent {
  display: block;
  margin: 0 ;
  padding: 0;
  padding-top: 5px;
  padding-bottom: 6px;
  padding-left: 34px;
  padding-right: 31px;
  margin-left: 85px;

  font-size: 13px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}
  
.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.sorting {
  width: 1200px;
  background-color: #ffffff;

  display: flex;
}

.sorting-left {
  font-size: 21px;
  line-height: 26px;

  margin-left: 72px;
  margin-top: 31px;
  padding-bottom: 9px;
}

.sorting-center {
  width: 353px;
  font-size: 12px;
  line-height: 18px;
  list-style: none;
  font-weight: 400;
  margin: 0;
  padding: 0;

  display: flex;
  margin-top: 36px;
  margin-left: 49px;
}

.sorting-center a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sorting-center a:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-center a:active {
  color: #000000;
  border-bottom: none;
}

.sorting-center-active a {
  color: #81b3d2;
  border: none;
  margin-left: 40px;
}

.on-type {
  margin-left: 32px;
}

.on-rating {
  margin-left: 33px;
}

.sorting-right {
  width: 34px;
  margin-left: 504px;
  margin-top: 34px;

  display: flex;
  justify-content: space-between;
}

.arrow {
  fill: #cacaca;
}

.arrow:hover {
  fill: #000000;
}

.arrow:active {
  fill: #81b3d2;
}

.arrow-active {
  fill: #81b3d2;
}

.map {
  width: 1200px;
  height: 594px;
  background-image: url(../img/map.jpg); 
}

.button-symbol {
  width: 37px;
  height: 38px;
  background-color: #f2f2f2;
  border: none;
}

.minus-left {
  margin-left: 41px;
}

.minus-right {
  margin-left: 26px;
}

.rating {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #666666;
  background-color: #f2f2f2;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 4px;
  margin-top: 40px;

}

.group-star {
  text-align: right;
}

.star {
  padding-left: 2px;
}

.left-info {
  margin-left: 30px;
}

.name-hotel {
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  margin-top: 25px;
  color: #000000;
}

.name-hotel a {
  color: #000000;
}

.name-hotel a:hover {
  color: #81b3d2;
}

.name-hotel a:active {
  color: rgba(0, 0, 0, 0.3);
}

.minus {
  position: relative;

}

.minus::before {
  position: absolute;
  content: "";
  top: 18px;
  left: 14px;

  width: 11px;
  height: 3px;

  background-color: #a9a9a9;
}

.minus:hover::before {
  background-color: #000000;
}

.minus:active::before {
  background-color: #81b3d2;
}

.plus {
	position: relative;
}

.plus::before {
	position: absolute;
	content: "";
	top: 18px;
	left: 11px;

	width: 12px;
	height: 3px;

	background-color: #a9a9a9;
}

.plus::after {
	position: absolute;
	content: "";
	top: 18px;
	left: 11px;

	width: 12px;
	height: 3px;

	background-color: #a9a9a9;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.plus:hover::before {
	background-color: #000000;
}

.plus:active::before {
	background-color: #81b3d2;
}

.plus:hover::after {
	background-color: #000000;
}

.plus:active::after {
	background-color: #81b3d2;
}